<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <title>Convert File</title>
</head>
<body>
    <form class="form-login" method="post" action="." enctype="multipart/form-data">
        <label class="label-login">Load File:</label>
        <input class="input-login" name="file" type="file" required>
        <input type="submit">
        <p>{{error}}</p>
    </form>
</body>
</html>