<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <p tabindex="1" id="inises">Inicio de sesión</p>
            <br><br>
            <form method="post" action=".">
              <input tabindex="2" id="inpUser" type="text" class="fadeIn input" name="user" placeholder="Usuario" required>
              <input tabindex="-1" id="inpPass" type="password" class="fadeIn input" name="password" placeholder="Contraseña" required>
              <input tabindex="-1" type="submit" id="btnsubmit" class="fadeIn btn" value="Ingresar">
              <div tabindex="-1" id="formFooter">
                <a tabindex="-1" href="/signup/" id="btnsignup" class="underlineHover">Registrarse</a>
              </div>
              <p tabindex="-1" id="error">{{error}}</p>
            </form>
          </div>
          
    </div>
    
</body>
<script src="{{ url_for('static', filename='JS/index.js') }}"></script>
</html>