<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <br><br>
            <form method="post" action=".">
                <input id="inpUser" type="text" class="fadeIn input" placeholder="Usuario" required>
                <input id="inpPass" type="password" class="fadeIn input" placeholder="Contraseña" required>
                <input type="submit" id="btnsubmit" class="fadeIn btn" value="Ingresar">
                <div id="formFooter">
                    <a href="/signup/" id="btnsignup" class="underlineHover">Registrarse</a>
                </div>
                <p>{{error}}</p>
            </form>
        </div>
    </div>
    
</body>
<script src="{{ url_for('static', filename='JS/index.js') }}"></script>
</html>