<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <title>Your Library</title>
</head>
<body>
    <a href="/logout/">logout</a>
    <table>
        {% for item in files %}
            <tr onclick="checkFile('/player/{{item.name}}')">
                <td>{{item.name}}</td>
                <td>{{item.page}}</td>
                <td>{{item.date}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
<script src="{{ url_for('static', filename='JS/library.js') }}"></script>
</html>