<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href= "{{ url_for('static', filename='CSS/styles.css') }}">
    <title>Texas Generator</title>
    <script>
        var counter = {{counter}}
    </script>
</head>
<body>
    <form class="formulario home" action="." method="POST">
        <div class="header">
            <p>{{user}}</p>
            <a href="/logout/">logout</a>
        </div>
        <label class="plate" id="plate-label"> </label>
        <input type="text" id="plate" name="plate" style="display: none;">
        <br />
        <br />
        <label class="etiqueta">Vehicle Year: </label>
        <input type="text" id="year" name="year"/>
        <label class="etiqueta">Make: </label>
        <input type="text" id="make" name="make"/>
        <label class="etiqueta">VIN:</label>
        <input type="text" id="vin" name="vin"/>
        <label class="etiqueta">Owner:</label>
        <input type="text" id="owner" name="owner"/>
        <label class="etiqueta">Model:</label>
        <input type="text" id="model" name="model"/>
        <label class="etiqueta">Body Style:</label>
        <input type="text" id="body" name="body"/>
        <label class="etiqueta">Major Color:</label>
        <input type="text" id="major_color" name="major_color"/>
        <label class="etiqueta">Minor Color:</label>
        <input type="text" id="minor_color" name="minor_color"/>
        <label class="etiqueta">Mailing Adress:</label>
        <input type="text" id="address" name="address"/>
        <label class="etiqueta">City:</label>
        <input type="text" id="city" name="city"/>
        <label class="etiqueta">State:</label>
        <input type="text" id="state" name="state"/>
        <label class="etiqueta">ZIP:</label>
        <input type="text" id="zip_code" name="zip_code"/>
        <label class="etiqueta" style="display: none;">Password:</label>
        <br />
        <br />
        <br />
        <label>Dealer: Houston Auto Sales Inc</label>
        <br />
        <br />
        <label>Dearler Number: P112595</label>
        <br />
        <br />
        <label id="issue_date_label">Efective Date: </label>
        <input type="text" name="issue_date" id="issue_date" style="display: none;">
        <br />
        <br />
        <label id="expiration_date_label">To: </label>
        <input type="text" name="expiration_date" id="expiration_date" style="display: none;">
        <br />
        <br />
        <input type="submit" value="Generate File" />
        <input type="button" onclick="mostrarCuenta()" value="Consult" />
    </form>
    <script src="{{ url_for('static', filename='JS/texas.js') }}"></script>
</body>
</html>
